ion-content {
  --padding-top: 2em;
  --padding-start: 1em;
  --padding-end: 1em;
}

img {
  width: 100px;
  float: left;
  border-radius: 25%;
  border: solid;
  margin-right: 1em;
}

h2 {
  margin-block-start: 0;
  font-size: 1.2em;
}

.pause {
  position: relative;
}

ion-button {
  border: 1px solid;
}
